/* Toute la page */

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    font-size: 3vh;
}

/* Barre de navigation */

header {
    background-color: royalblue;
    position: sticky;
    top: 0;
}

header ul {
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

header ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1%;
}

header ul li a {
    color: white;
    text-decoration: none;
}

.boldText {
    font-weight: bold;
}

/* Contenu principal */

main {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.button {
    display: inline-block;
    border: 1px solid royalblue;
    border-radius: 5px;
    padding: 1% 4%;
    background-color: royalblue;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.boldText {
    font-weight: bold;
}

.smallText {
    font-size: 2.5vh;
}

.denied {
    cursor: not-allowed;
}

/* Footer */

footer {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

footer small {
    color: gray;
}