<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annonces - Oto-Maintenance</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="navBarItems" title="Accueil"><i class="fa-solid fa-house"></i> Accueil</a>
            </li>
            <li>
                <a href="download.html" class="navBarItems" title="Télécharger"><i class="fa-solid fa-download"></i> Télécharger</a>
            </li>
            <li>
                <a href="support.html" class="navBarItems" title="Support"><i class="fa-solid fa-phone"></i> Support</a>
            </li>
            <li>
                <a href="announcements.html" class="navBarItems" title="Annonces officiels"><i class="fa-solid fa-bullhorn"></i> Annonces</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <h2>Annonces officiels</h2>
    <p>Bienvenue dans les annonces officiels !</p>
    <p>Ici, vous pouvez retrouver l'ensemble des informations de mises à jours (sans passer par Github).</p>
    <h2>La page est toujours en construction</h2>
</main>
<footer>
    <p>© Enio Aiello</p>
</footer>
<script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
</body>
</html>