<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Oto-Maintenance est un script batch simple et puissant pour effectuer des tâches de maintenance voir plus.">
    <title>Oto-Maintenance</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/logo.png">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../assets/img/logo.png" alt="Logo Oto-Maintenance">
                <p>Oto-Maintenance</p>
            </div>
            <ul class="menu">
                <li>
                    <a href="../index.html">Accueil</a>
                </li>
                <li>
                    <a href="./download.html">Télécharger</a>
                </li>
                <li>
                    <a href="./functions.html">Fonctionnalités</a>
                </li>
                <li>
                    <a href="./documentation.html">Documentation</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Télécharger</h2>
        <p>Oto-Maintenance est <strong>gratuit</strong> et est <strong>libre</strong>.</p>
        <p>Le code source ainsi que le script sont disponibles sur <strong>GitHub</strong>.</p>
        <p><a href="https://github.com/enioaiello/Oto-Maintenance" class="button">Télécharger</a></p>
    </main>
    <footer>
        <p><small>&copy;2023, <a href="https://corundum-os.github.io/">Corundum</a>. All right reserved.</small></p>
    </footer>
</body>
</html>