<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Télécharger | Oto-Maintenance</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="icon" type="image/png" href="../assets/img/logo.png">
    <script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../index.html" class="navBarItems">Accueil</a>
                </li>
                <li>
                    <a href="download.html" class="navBarItems">Télécharger</a>
                </li>
                </li>
                <li>
                    <a href="functions.html" class="navBarItems">Fonctionnalités</a>
                </li>
                <li>
                    <a href="beta.html" class="navBarItems">Programme bêta</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Oto-Maintenance n'est pas encore disponible au publique !</h2>
        <p>Nous sommes désolé mais les premières versions d'Oto-Maintenance (qui était en Anglais) ont été supprimées et l'outil est recommencé à zéro ! Nous sommes toujours en train de développer la version publique mais vous pouvez jeter un coup d'œil au <a href="https://github.com/enioaiello/Oto-Maintenance" taregt="_blank" class="link">Github</a> (et n'hésitez pas à ajouter une étoile, cela nous montrera que vous êtes intéressés au projet) !</p>
    </main>
    <footer>

    </footer>
</body>
</html>