<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Télécharger - Oto-Maintenance</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" href="../assets/img/logo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html" class="navBarItems" title="Accueil"><i class="fa-solid fa-house"></i> Accueil</a>
                    </li>
                    <li>
                        <a href="download.html" class="navBarItems" title="Télécharger"><i class="fa-solid fa-download"></i> Télécharger</a>
                    </li>
                    <li>
                        <a href="support.html" class="navBarItems" title="Support"><i class="fa-solid fa-phone"></i> Support</a>
                    </li>
                    <li>
                        <a href="announcements.html" class="navBarItems" title="Annonces officiels"><i class="fa-solid fa-bullhorn"></i> Annonces</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>Vous êtes prêt ?</h2>
            <p>Choisissez parmis les deux versions disponibles d'Oto-Maintenance !</p>
            <div class="mainDiv">
                <i class="fa-solid fa-star"></i>
                <h3>Dernière version</h3>
                <p>Télécharger la dernière version d'Oto-Maintenance disponible, bêta ou non.</p>
                <a href="https://github.com/enioaiello/Oto-Maintenance/releases/latest" target="_blank" class="positiveButton" title="Télécharger la dernière version"><i class="fa-solid fa-download"></i> Télécharger</a>
                <p class="comments">Téléchargement depuis les serveurs de Github</p>
            </div>
            <div class="leftDiv">
                <i class="fa-solid fa-circle-check"></i>
                <h3>Version stable</h3>
                <p>Découvrez la version publique, une version stable et accessible de tous !</p>
                <a href="#" class="positiveButton denied" title="Télécharger la version stable"><i class="fa-solid fa-download"></i> Télécharger</a>
                <p class="comments">Téléchargement depuis les serveurs de Github</p>
            </div>
            <div class="rightDiv">
                <i class="fa-solid fa-circle-exclamation"></i>
                <h3>Version bêta</h3>
                <p>Découvrez la version bêta, non convertie et réservée aux développeurs et aux professionnels.</p>
                <a href="https://github.com/enioaiello/Oto-Maintenance/releases/tag/v1.0.0-beta" target="_blank" class="negativeButton" title="Télécharger la version bêta"><i class="fa-solid fa-download"></i> Télécharger</a>
                <p class="comments">Téléchargement depuis les serveurs de Github</p>
            </div>
            <div class="clear"></div>
        </main>
        <footer>
            <p>© Enio Aiello</p>
        </footer>
        <script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
    </body>
</html>