<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fonctionnalités | Oto-Maintenance</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="icon" type="image/png" href="../assets/img/logo.png">
    <script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="../index.html" class="navBarItems">Accueil</a>
            </li>
            <li>
                <a href="download.html" class="navBarItems">Télécharger</a>
            </li>
            </li>
            <li>
                <a href="functions.html" class="navBarItems">Fonctionnalités</a>
            </li>
            <li>
                <a href="beta.html" class="navBarItems">Programme bêta</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <h2>Fonctionnalités</h2>
    <section>
        <i class="fa-solid fa-broom"></i>
        <h3>Optimisation</h3>
        <p>Optimisez votre ordinateur simplement et rapidement grâce à l'outil de défragmentation !</p>
        <p class="denied">Prochainement</p>
    </section>
    <section>
        <i class="fa-solid fa-shield"></i>
        <h3>Protection</h3>
        <p>Protégez votre ordinateur grâce aux fonctionnalités de Windows Defender !</p>
        <p class="authorized">Disponible</p>
    </section>
    <h3>L'outil est toujours en développement, d'autres fonctionnalités peuvent donc arrivées !</h3>
</main>
<footer>

</footer>
</body>
</html>