<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Télécharger - Oto-Maintenance</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" href="../assets/img/logo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html" class="navBarItems" title="Accueil"><i class="fa-solid fa-house"></i> Accueil</a>
                    </li>
                    <li>
                        <a href="download.html" class="navBarItems" title="Télécharger"><i class="fa-solid fa-download"></i> Télécharger</a>
                    </li>
                    <li>
                        <a href="support.html" class="navBarItems" title="Support"><i class="fa-solid fa-download"></i> Support</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>Contacter le support</h2>
            <p>Vous avez besoins d'aide ?</p>
            <p>Contactez le développeur via son e-mail professionnel.</p>
            <h3>Règlement de contact</h3>
            <p>Pas de partenariat, de pourriel, de spam et de publicité s'il vous plaît !</p>
            <a href="mailto:eaiello@edenschool.fr" class="positiveButton" title="Avant de contacter le développeur, lisez les règles !"><i class="fa-solid fa-at"></i> Contacter</a>
        </main>
        <footer>
            <p>© Enio Aiello</p>
        </footer>
        <script src="https://kit.fontawesome.com/127f7eda6e.js" crossorigin="anonymous"></script>
    </body>
</html>